

.cardContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    width: 70%;
}
.card{
    width: 15vh;
}

.cardWallet{
    width: 90%
}

@media (max-width: 450px){
    .card{
        width: 100%;
    }
}

@media (max-width: 600px){
    .card{
        width : 40%
    }
}

@media (min-width: 600px){
    .cardWallet{
        width: 50%;
    }
}